html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: border-box; }
html,
body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0;
    text-align: center;
}

